.App {
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.row {
  margin: auto;
  margin-top: 20px;
}

p {
  margin: auto;
}

button {
  margin-top: 10px;
}

#linkedInLogo {
  filter: brightness(0%);
}

.logo-container img {
  margin: 10px;
}

#solitaire_img {
  height: 80px;
  width: 140px;
}

.game-col {
  border: 1px solid #CCCCCC;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-col a {
  text-decoration: none;
  font-weight: 700;
}